{% block titulo %}
    <title>Login y Registro</title>
{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'css/login.css' %}?v1.6" rel="stylesheet" />
{% endblock %}

{% block contenido %}
<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        
        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <div class="form sign-in">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <button>
                        Sign in
                    </button>
                    <p>
                        <b>
                            Forgot password?
                        </b>
                    </p>
                    <p>
                        <span>
                            Don't have an account?
                        </span>
                        <b onclick="toggle()" class="pointer">
                            Sign up here
                        </b>
                    </p>
                </div>
            </div>
            <div class="form-wrapper">
    
            </div>
        </div>
        <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    
    <!-- END CONTENT SECTION -->
</div>
         
{% endblock %}

{% block js %}
<script src="{% static 'js/login.js' %}?v1.2"></script>
{% endblock %}
