:root {
    --primary-color: #6fa2b8;
    --secondary-color: #2392be;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}
html,
body {
    height: 100vh;
    overflow: hidden;
    background: black;
}
.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*
.form-wrapper {
    width: 100%;
    max-width: 28rem;
}*/

/*.form {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(0);
    transition: .5s ease-in-out;
    transition-delay: 1s;
}*/
.form{
    padding: 1rem;
    border-radius: 1.5rem;
    width: 100%;
    background-color: #DB4437;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s ease-in-out;
    transition-delay: 1s;
    margin-left: 100px;
}
.input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}
.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
}
.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}
.input-group input:focus {
    border: 0.125rem solid var(--primary-color);
}
.form button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}